@import 'src/utils/styles.scss';

.discussion-topic-issue {
    padding: 0.4em;

    .discussion-topic-issue-header {
        position: sticky;
        top: 6em;
        background-color: #fff;
        padding: 0.6em;
        display: flex;
        align-items: center;
        border: 2px solid $yellowOchre;

        &.mobile {
            top: 3em;

            .discussion-topic-issue-meta {
                flex-direction: column;
            }
        }

        .discussion-topic-issue-is-closed {
            flex-grow: 1;
            font-size: 0.9em;
        }

        .discussion-topic-issue-title {
            flex-grow: 20;

            .issue-title {
                font-size: 1.1em;
                font-weight: bold;
            }

            .issue-meta-data {
                margin: 0.3em 0;
                font-size: 0.8em;
            }
        }

        .discussion-topic-issue-meta {
            flex-grow: 1;
            display: flex;
            align-items: center;

            .discussion-topic-issue-meta-data {
                text-align: center;
                cursor: pointer;
            }
        }
    }

    .discussion-topic-issue-description {
        min-height: 5em;
    }
}