.navbar {
    display: flex;
    padding: 0.5em;
    position: sticky;
    width: 100%;
    top: 0;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffffcc;

    .nav-links-container {
        display: flex;
        align-items: center;
        padding: 0.1em;
    }
}